@import "../../../node_modules/spice-sass/src/spice";
@import "../../shared/variables.scss";

.sidebar {
  @include sideBar($idebarWidth, "left", #16191c);
  @include scrollbar($main-panel-col);

  &:before {
    content: "";
    display: block;
    height: 40px;
    z-index: 999;
    width: $idebarWidth - 10px;
    background: linear-gradient(rgba(22, 25, 28, 1), rgba(22, 25, 28, 0));
    @include fitContainer($controls-height auto auto 0, fixed);
  }

  .tiles {
    //opacity: 0;
    padding: $controls-height - 10px 10px 20px 10px;
    @include clearFix;

    .tile {
      position: relative;
      margin: 1px;
      display: inline-flex;
      width: $tileSize;
      height: $tileSize;
      font-size: 0.8rem;
      cursor: pointer;
      color: contrast($sidebarCol, 6%);
      float: left;

      &--active {
        $size: 2px;
        border: $size solid $secondary;
      }

      &--dragged {
        opacity: 0.8;
        background: red;
      }

      &--drag-target {
        $size: 2px;
        opacity: 0.5;
        filter: grayscale(50%);
        border: $size dashed contrast($sidebarCol, 15%);
      }

      &__icon {
        @include fitContainer;
      }

      &.hidden {
        background: contrast(#16191c, 5%) !important;
      }
    }
  }
}
