@import "../node_modules/spice-sass/src/spice";
@import "./shared/variables";

@include normalise;
@include blockIcons("/icons/");
@include googleFont("roboto", body button input);
@include slideIn("right", 40, $bounce, 0.6s, 0);
@include slideIn("up");

.slide-in-right {
  &:nth-child(4n + 2) {
    @include vendorPrefix(animation-delay, (0.1s), $animationVendors);
  }

  &:nth-child(4n + 3) {
    @include vendorPrefix(animation-delay, (0.2s), $animationVendors);
  }

  &:nth-child(4n + 4) {
    @include vendorPrefix(animation-delay, (0.3s), $animationVendors);
  }

  &:nth-child(4n + 4) {
    @include vendorPrefix(animation-delay, (0.3s), $animationVendors);
  }
}

body {
  color: $primary;
  @include verticalRhythm;
}

.app {
  @include fitContainer($controls-height 0 0 0);
}

.centre {
  @include centre;
}
